@charset "utf-8"

@import "nib"

normalize-css()

pre
  line-height 1
  white-space pre-wrap
  display block
  text-align center
  word-wrap normal
  overflow auto
  padding 16px
  line-height 1.3
  font-size 12px
  // position absolute

code
  font-size 11px
  font-family Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space pre
  // display: inline;
  max-width initial
  padding 0
  margin 0
  overflow initial
  line-height inherit
  word-wrap normal
  border 0
