@charset "utf-8"

@import "nib"

normalize-css()

_dark = #323b43
_light = #f4f7f9
_middle = #eff3f6

html, body
  height 100%
body
  font-family "Open Sans", arial, sans-serif

.header
  background _dark
  position relative
  z-index 64
  h1
    margin 0
    font-size 13px
    font-weight normal
    color _light
    position absolute
    top 4px
    left 4px
    z-index 1
    a
      color inherit
      text-decoration none
  .open-setting-button-wrapper
    position relative
    margin-left auto
    width 32px
    z-index 2
  .open-setting-button
    appearance none
    border 0
    width 32px
    outline none
    background _dark
    color _light
    &:hover, &.opend
      background _light
      color _dark

.settings
  display none
  position absolute
  width 37.5%
  background-color _light
  right 0
  padding 1% 2%
  z-index 32

  &.visible
    display block
  dl
    margin-top 0
    line-height 2
.editor
  height 37.5%
textarea
  width 100%
  box-sizing border-box
  height 100%
  border 0
  padding 2%
  outline none

.reset-button
  margin 2% 0

.figlet
  min-height 50%
  position relative

pre
  margin 0
  line-height 1
  white-space pre-wrap
  display block
  text-align center
  word-wrap normal
  overflow auto
  padding 16px
  line-height 1.2
  font-size 12px
  // position absolute

code
  font-size 11px
  font-family Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space pre
  // display: inline;
  max-width initial
  padding 0
  margin 0
  overflow initial
  line-height inherit
  word-wrap normal
  border 0

.download-button
  position absolute
  bottom 0
  left 0
  z-index 1
  a
    color inherit
    text-decoration none
    opacity .3
    display inline-block
    padding .4em .6em
    font-size 13px
    &:hover
      opacity 1
      background _dark
      color _light
    .octicon
      margin-right .4em

.footer
  text-align right
  p
    margin 0
  small
    opacity .6
    color _dark
    font-size 12px
    padding-left 1em
