@charset "utf-8"

@import "nib"

normalize-css()

_dark = #323b43
_light = #f4f7f9
_middle = #eff3f6

html, body, .root, .app
  height 100%
body
  font-family "Open Sans", helvetica, arial, sans-serif

.header
  background _dark
  position relative
  z-index 64
  h1
    margin 0
    font-size 13px
    font-weight normal
    color _light
    position absolute
    top 4px
    left 4px
    z-index 1
    a
      color inherit
      text-decoration none
  .open-setting-button-wrapper
    position relative
    margin-left auto
    width 32px
    z-index 2
  .open-setting-button
    appearance none
    margin 0
    padding 0
    border 0
    width 32px
    outline none
    background _dark
    color _light
    .octicon-x
      display none
    &.opend
      .octicon-gear
        display none
      .octicon-x
        display inline-block
    &:hover
      background _light
      color _dark

.settings
  display none
  position absolute
  width 37.5%
  background-color _dark
  right 0
  padding 1% 2%
  z-index 32
  &.visible
    display block

  &-item
    line-height 2
    padding 0 0 16px
    margin-bottom 16px
    border-bottom 1px solid _middle
    width 100%
    &-title
      display inline-block
      margin-right 5%
      color _light
    &-body
      width 100%
      display inline-block

  .font-select
    width 62.5%
    max-width 158px

  .resize-button
    line-height 1

  input
    cursor pointer
    max-width 100%
    box-sizing border-box
    &[type="file"]
      color _light
  .resize-rate
    color _light
    font-size .9em
    margin 0 .5em

.editor
  height 37.5%

textarea
  width 100%
  box-sizing border-box
  height 100%
  border 0
  padding 2%
  outline none

.reset-button
  margin 2% 0
  text-align right
  button
    font-size .8em
.figlet-container
  min-height 50%
  position relative

.figlet
  background-repeat no-repeat
  background-position center

pre
  margin 0
  line-height 1
  white-space pre-wrap
  display block
  text-align center
  word-wrap normal
  overflow auto
  padding 16px
  line-height 1.2
  font-size 12px
  cursor default
  user-select none

code
  font-size 11px
  font-family Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space pre
  max-width initial
  padding 0
  margin 0
  overflow initial
  line-height inherit
  word-wrap normal
  border 0

.getter
  position absolute
  bottom 0
  left 0
  z-index 1

.download-button
  display inline-block
  a
    color inherit
    text-decoration none
    opacity .3
    display inline-block
    padding .4em .6em
    font-size 13px
    &:hover
      opacity 1
      background _dark
      color _light
    .octicon
      margin-right .4em

.copy-button
  display inline-block
  button
    color inherit
    opacity .3
    appearance none
    padding .4em .6em
    font-size 13px
    border 0
    background none
    outline none
    &.zeroclipboard-is-hover
      opacity 1
      background _dark
      color _light
    .octicon
      margin-right .4em

.footer
  text-align right
  p
    margin 0
  small
    opacity .6
    color _dark
    font-size 12px
    padding-right 1em
