.header
  background $color_dark
  position relative
  z-index 64
  h1
    margin 0
    font-size 13px
    font-weight normal
    color $color_light
    position absolute
    top 4px
    left 4px
    z-index 1
    a
      color inherit
      text-decoration none
  .open-setting-button-wrapper
    position relative
    margin-left auto
    width 32px
    z-index 2
  .open-setting-button
    appearance none
    margin 0
    padding 0
    border 0
    width 32px
    outline none
    background $color_dark
    color $color_light
    &:hover
      background $color_light
      color $color_dark
